<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>509722104298-nf5qhdgo8isoqst3f8a2rt782qgpmo9o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.509722104298-nf5qhdgo8isoqst3f8a2rt782qgpmo9o</string>
	<key>API_KEY</key>
	<string>AIzaSyBK-o4KGLgYJBVSwhK91YkkNT3tNoWqAYc</string>
	<key>GCM_SENDER_ID</key>
	<string>509722104298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zeaksolutions.delivery</string>
	<key>PROJECT_ID</key>
	<string>shari-app-1</string>
	<key>STORAGE_BUCKET</key>
	<string>shari-app-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509722104298:ios:9eed0760004ca061a6e293</string>
</dict>
</plist>